
<div class="footer">
    <p id="company">spoon and fork</p>
    <p>We believes in making your simple day to special days. With the kind of food and drink that we curate and the kind of delivery services we offer, we just want to ensure that your order reaches you and your loved ones on time. Whether you want to surprise your girlfriend on her birthday, your friend on their anniversary or just congratulate someone on their success- we have just the right kind of eatery that suits you.</p>
<div class="row">
    <a href="https://www.facebook.com/login/" class="img"><img src="../../assets/facebook.png" height="40px"></a>
    <a href="https://www.instagram.com/accounts/login/" class="img"> <img src="../../assets/instagram.png" height="40px"></a>
    <a href="https://twitter.com/i/flow/login" class="img"> <img src="../../assets/twitter.png" height="40px"></a>
</div>

<div class="row">
<ul>
<li><a href="#">Contact us<mat-icon> call</mat-icon></a></li>
<li><a href="#">Our Services</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
<li><a href="#">location<mat-icon>location_on</mat-icon></a></li>

</ul>
</div>

<div class="row">
    spoon and fork Copyright © 2024 cuisine - All rights reserved || Designed By: saumya, sonali and venuprasath
</div>
</div>


